<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Modif -->
      <package
            uri="http://fr.ubo.mde.babau.modif"
            class="modif.ModifPackage"
            genModel="model/Modif.genmodel"/>
   </extension>

</plugin>
