<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Migration -->
      <package
            uri="platform:/resource/Migration/model/Migration.ecore"
            class="migration.MigrationPackage"
            genModel="model/Migration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Dependency -->
      <package
            uri="platform:/resource/Migration/model/Dependency.ecore"
            class="dependency.DependencyPackage"
            genModel="model/Dependency.genmodel"/>
   </extension>

</plugin>
